.todo-form {
  display: flex;
  margin-bottom: 0;
  background: linear-gradient(to right, #f8f8f8, #e0e0e0); /* Фон для всей формы */
  color: #333; 
  border: none;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
}

.new-todo {
  border: none;

  position: relative;
  margin: 0;
  width: 70%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  padding: 10px;
  
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::placeholder {
    color: #aaa;
  }
  &:focus {
    outline: none;
  }
  background: none; 
}

.new-todo-form__timer {
  border: none;
  padding-left: 16px;
  box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 15%;
  padding-left: 16px;
  background: none;
  font-size: 20px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
}
